@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Spartan:wght@400;500;600&display=swap');
/*=========== VARIABLE ===================*/
:root{
    --header-height: 1.5rem;
    --first-color:hsl(176,88%,27%);
    --first-color-alt:hsl(129,44%,94%);
    --second-color:hsl(34, 94%, 87%);
    --title-color:hsl(0 ,0%, 13%);
    --text-color:hsl(154 ,13%, 32%);
    --text-color-light:hsl(60, 1%, 56%);
    --body-color:hsl(0, 0%, 100%);
    --container-color:hsl(0, 0%, 93%);
    --border-color:hsl(129, 36%, 85%);
    --border-color-alt:hsl(113, 15% ,90%);
    --body-font:'Lato', sans-serif;
    --second-font:'Spartan', sans-serif;
    --big-font-size:3.0rem;
    --h1-font-size:2.70rem;
    --h2-font-size:2rem;
    --h3-font-size:1.75rem;
    --h4-font-size:1.375rem;
    --large-font-size:1.125rem;
    --normal-font-size:1rem;
    --small-font-size:0.875rem;
    --smaller-font-size:0.75rem;
    --tiny-font-size:0.6rem; 
    --weight-400:400;
    --weight-500:500;
    --weight-600:600;
    --weight-700:700;
    --transition: cubic-bezier(0, 0, 0.05, 1);
}
/*========= FOUNDATION =====================*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
input,
textarea,
body{
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--weight-400);
}
body{
    background-color: var(--body-color);
}
h1,
h2,
h3,
h4{
    font-family: var(--second-font);
    font-weight: var(--weight-600);
    color: var(--title-color);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
p{
    line-height: 1.5rem;
}
img{
    max-width: 100%;
}
button,
textarea,
input{
    background-color: transparent;
    border: none;
    outline: none;
}
/* ============= MAIN CODE ===================*/ 
.container{
    max-width: 1320px;
    margin-inline: auto;
    padding-inline: 0.75rem;
}
.form--input{
    border: 1px solid var(--border-color-alt);
    padding-inline: 1rem;
    height: 45px;
    border-radius: 0.25rem;
    font-size: var(--small-font-size) ;
}
.grid{
    display: grid;
    
}
.section{
    padding-bottom: 2rem;
}
.section--lg{
    padding-block:4rem;
}
.section--title{
    font-size: var(--h1-font-size);
    margin-bottom: 1.5rem;
}
.section--title span{
    color: var(--first-color);
}
.flex{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}
.new--price{
    color: var(--first-color);
    font-weight: var(--weight-600);

}
.old--price{
    color: var(--text-color-light);
    font-size: var(--small-font-size);
    text-decoration: line-through;
}
/*========== HEADER ===============*/
.header--top{
    background-color: var(--first-color-alt);
    border-bottom: 1px solid var(--first-color);
    padding-block: 0.875rem;
}
.header--container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header--contact span:first-child{
    margin-right: 2rem;
}
.header--contact span,
.header--alert-news,
.header--top-action{
    font-size: var(--small-font-size);
}
.header--alert-news{
    color: var(--text-color-light);
    font-weight: var(--weight-600);
}
.header--top-action{
    color: var(--text-color);
}
.nav,
.nav--menu,
.nav--list,
.header--user-actions{
    display: flex;
    align-items: center;
}
.nav{
    height: calc(var(--header-height) + 2.5rem);
    justify-content: space-between;
    column-gap: 1rem;
    
}
.nav--logo-img{
    width: 150px;
}
.nav--menu{
    width: 100%;
    margin-left: 2.5rem;
}
.nav--list{
    margin-right: auto;
    column-gap: 2.5rem;
}
.nav--link{
    color: var(--title-color);
    font-weight: var(--weight-700);
    transition: all 0.2s var(--transition);
}
.header--search{
    width: 340px;
    position: relative;
}
.header--search .form--input{
    width: 100%;
}
.search--btn{
    position: absolute;
    top: 24%;
    right: 1.25rem;
    margin-top: 5px;
    cursor: pointer;
}
.header--user-actions{
    column-gap: 1.25rem;
}
.header--action-btn{
    position: relative;
}
.header--action-btn i{
    width: 30px;
    font-size: 30px;
}
.header--action-btn .count{
    position: absolute;
    top: -0.625rem;
    right: -0.625rem;
    background-color: var(--first-color);
    color: var(--body-color);
    height: 18px;
    width: 18px;
    line-height: 18px;
    border-radius: 50%;
    text-align: center;
    font-size: var(--tiny-font-size);
}
.search--btn i{
    font-size: 13px;
}
/*============== ACTIVE LINK ================*/ 
.active-link,
.nav--link:hover{
    color: var(--first-color);
}

/*=========== HEADER 2 ====================*/
.home--container{
    background-color: lightgrey;
    padding-block: 0.900rem;
    display: flex;
    align-items: center;
    
}
.home--message{
    padding-inline: 0.5rem;
    color: var(--body-font);
    font-size: var(--small-font-size);
}
/*=========== CART ====================*/
.wishlist--img{
    width: 89px;
}
.icon{
    text-align: center;
}
.wishlist--price{
    text-align: center;
}
.new--prices{
    font-size: var(--small-font-size);
    font-family: var(--body-font);

}
.wishlist--title{
    text-align: center;
    font-size: var(--small-font-size);
    color: var(--first-color);
}
.wishlist--messages,
.wishlist--message{
    text-align: center;
    font-size: var(--small-font-size);
}
.wishlist--infos{
    font-size: var(--small-font-size);
    font-family: var(--body-font);
    color: var(--first-color);
}
th,
td {
   
    border-bottom: 1px solid #ddd;
    
}
.cart--number-selector{
    text-align: center;
}
input[type='number'][placeholder='3']{
    width: 50px;
    height: 25px;
    padding-inline: 0.5rem;
    
    border: 1px solid #ddd;
    
}
th{
    padding-inline: 10px;
    border-top: 1px solid #ddd;
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
    
}
td{
    padding-inline: 0.5rem;
}
.btns{
    display: inline-block;
    
    background-color: var(--first-color);
    border: 2px solid var(--first-color);
    color: var(--body-color);
    padding-inline: 0.5rem;
    height: 49px;
    line-height: 49px;
    
    font-family: var(--second-font);
    font-size: var(--small-font-size);
    font-weight: var(--weight-700);
    transition: all 0.4s var(--transition);
}
.deals--btn{
    text-align: center;
}
.btns:hover{
    background-color: transparent;
    color: var(--first-color);
}
.btns i{
    margin-inline: 0.2rem;
}
.cart--button{
    padding-block: 2rem;
    margin-left: 850px;
}
.timothy--container{
    grid-template-columns: repeat(2, 1fr);
    
    
}
.cart--item{
    padding: 1.5rem;
    border: 1px solid var(--border-color);
    margin-top: 2.3rem;
    height: 300px;
    width: 530px;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    margin-left: 70px;
    
}
.login--register--items,
.login--register--item{
    border-top: 1px solid var(--border-color-alt);
    padding-bottom: 0.75rem;
    margin-bottom: 2rem;
    position: relative;
}

.login--register--items{
   padding-block: 1.5rem;
   
    
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.footer--search{
    width: 540px;
    position: relative;
    
}
.footer--searches{
    width: 540px;
    position: relative;
    
}
.footer--searches .form--inputs{
    width: 100%;
    height: 40px;
    font-size: var(--smaller-font-size);
    color: var(--border-color-alt);
    background-color:#fff;
    border: 1px solid var(--border-color);
    outline: none;
    padding-inline: 1rem;
}
.footer--searchs{
    width: 265px;
    position: relative;
    font-size: var(--smaller-font-size);
}
.footer--searchs .form--inputs{
    width: 100%;
    height: 40px;
    font-size: var(--smaller-font-size);
    color: var(--border-color-alt);
    background-color:#fff;
    border: 1px solid var(--border-color);
    outline: none;
    padding-inline: 1rem;
}
.footer--search .form--inputs{
    width: 100%;
    height: 40px;
    background-color:#fff;
    border: 1px solid var(--border-color);
    outline: none;
    padding-inline: 1rem;
}
.login--register--title{
    color: var(--title-color);
    font-size: var(--large-font-size);
   
}


.buttons{
    display: inline-block;
    background-color: var(--first-color);
    border: 2px solid var(--first-color);
    color: var(--body-color);
    padding-inline: 1rem;
    
    height: 40px;
    line-height: 40px;
    border-radius: 0.25rem;
    font-family: var(--second-font);
    font-size: var(--smaller-font-size);
    font-weight: var(--weight-700);
    transition: all 0.4s var(--transition);
}
.buttons i{
    margin-inline: 0.5rem;
}
.buttons:hover{
    background-color: transparent;
    color: var(--first-color);
}
.button{
    display: inline-block;
    background-color: var(--first-color);
    border: 2px solid var(--first-color);
    color: var(--body-color);
    padding-inline: 1rem;
    
    height: 40px;
    line-height: 40px;
    border-radius: 0.25rem;
    font-family: var(--second-font);
    font-size: var(--smaller-font-size);
    font-weight: var(--weight-700);
    transition: all 0.4s var(--transition);
}
.button i{
    margin-inline: 0.5rem;
}
.button:hover{
    background-color: transparent;
    color: var(--first-color);
}
/*=========== FOOTER ===================*/
.footer--top{
    background-color: var(--first-color);
    padding-block: 0.999rem;
}
.footer--container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer--contact span:first-child{
    margin-right: 1rem;
}
.footer--contact span i{
    font-size: 20px;
}
.footer--contact span{
    font-size: var(--normal-font-size);
    color: var(--title-color);
    font-weight: var(--weight-500);
}
.footer--alert-news{
    font-weight: var(--weight-400);
    font-size: var(--small-font-size);
    color: var(--title-color);
}
.footer--search{
    width: 440px;
    position: relative;
}
.footer--search .form--inputs{
    width: 100%;
    height: 40px;
    background-color:#fff;
    padding-inline: 1rem;
}
.footer--button{
    position: absolute;
    right: 0;
   
    background-color: var(--title-color);
    border: none;
    color: var(--body-color);
    padding-inline: 1.75rem;
    height: 40px;
    line-height: 40px;
    transition: all 0.2s var(--transition);
    font-family: var(--second-font);
    font-size: var(--small-font-size);
    font-weight: var(--weight-700);
}
.footer--button:hover{
    background-color: var(--first-color);
}
/*================ LAST PAGE =================*/
.bottom--container{
    grid-template-columns: repeat(4, 1fr);
}
.bottom--img{
    width: 86px;
}
.bottom--wrappers{
    margin-left: 80px;
}
.bottom--wrapperes{
    margin-left: 50px;
}
.bottom--comment{
    font-size: var(--small-font-size);
    color: var(--body-font);
    line-height: 30px;
}
.bottom--location{
    line-height: 30px;
    font-size: 0.870rem;
    white-space: nowrap;
}

.bottom--bolder{
    font-weight: var(--weight-700);
    font-size: var(--small-font-size);
}
.bottom--online{
    font-size: var(--small-font-size);
    margin-top: 20px;
    color: var(--body-font);

}
.bottom--header{
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
    font-weight: var(--weight-400);
    margin-top: 20px;
}
.bottom--information{
    display: block;
    margin-top: 15px;
}
.bottom--info,
.bottom-words{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    font-weight: var(--weight-600);
    line-height: 30px;
    transition: all 0.2s var(--transition);
}
.bottom--info,
.bottom-words:hover{
    color: var(--first-color);
}
.bottom--informations{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}
.bottom--words i{
    font-size: 30px;
    padding-inline: 5px;
}
.social--item{
    padding-inline: 5px;
}

.useless--items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--body-font);
    font-size: var(--small-font-size);
}
hr{
    margin-bottom: 15px;
    border-color: var(--first-color-alt);
    

}
